<form class="mt-4" method="POST" action="/courses/handle-form-actions" name="container-form">
<h3>Khóa học của tôi</h3>
<a href="/me/stored/courses">Danh sách khóa học</a>
<div class="mt-4 d-flex align-item-center">
  <div class="form-check">
  <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="checkbox-all">
  <label class="form-check-lable me-1" for="checkbox-all">Chọn tất cả</label>
</div>

  <select class="form-select-md checkbox-sel-all mx-2 mb-1" name="action" required="required">
  <option selected  value="">--- Chọn hành động ---</option>
  <option value="restore">Khôi phục</option>
</select>
<div  class="btn btn-primary btn-sm disabled check-all-submit" type="submit"  >Thực hiện </div>

</div>
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">VideoID</th>
        <th scope="col" colspan="2">Thời gian xóa </th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
          <div class="form-check">
          <input class="form-check-input" type="checkbox" name="courseIDs[]" value="{{this._id}}">
          </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.videoID}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a  class="btn btn-dark btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a
              href=""
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
              data-id="{{this._id}}">Xóa vĩnh viễn</a>
            

          </td>
        </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Thùng rác trống
         <a href="/me/stored/courses">Danh sách khóa học</a>
        </td>
      </tr>
      {{/each}}
      
   
    </tbody>
  </table>

</form>

<!-- delete hidden form -->

<form name="restore-course-form" method="post"></form>
<form name="delete-course-form" method="post"></form>



<!-- delete confirm -->
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học ?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-course"
          type="button"
          class="btn btn-danger"
          
        >Xóa bỏ</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{!  script }}
<script >
  //DOM loaded
  document.addEventListener("DOMContentLoaded", function(event) { 
  var courseID;
  var deleteForm = document.forms['delete-course-form'] ;
  var restoreForm = document.forms['restore-course-form'] ;
  var deleteModal = document.getElementById('delete-course-modal')
  var btnDeleteCourse = document.getElementById('btn-delete-course')
  var restoreBtn= $('.btn-restore')
   var checkboxAll = $('#checkbox-all')
  var courseItemCheckbox = $('input[name="courseIDs[]"]')
  var checkAllSubmitBtn= $('.check-all-submit')
  var containerForm= document.forms['container-form']
//listener modal
  deleteModal.addEventListener('show.bs.modal', function (event) { 
  var button = event.relatedTarget ;
  courseID = button.getAttribute('data-id')  }) ;

 
  
  // btn delete onclicked
    btnDeleteCourse.onclick = function () { 
    deleteForm.action = "/courses/" + courseID + "/force?_method=delete";
    deleteForm.submit();} 
     
   
    restoreBtn.click(function (event) {
      event.preventDefault();
      var courseID = ($(this).data('id'))
        restoreForm.action = "/courses/" + courseID + "/restore?_method=PATCH";
       restoreForm.submit();
    })
    
    // btn delete onclicked
  btnDeleteCourse.onclick = function () { 
    deleteForm.action = "/courses/" + courseID + "?_method=delete";
    deleteForm.submit();
     } 
  // check-all-submit-btn clicked
  checkAllSubmitBtn.click( function (event) {
    
    var isSubmitable = !$(this).hasClass('disabled') ;
    if(isSubmitable) {
      containerForm.submit();
    }
    else {event.preventDefault();}
    
  })   
     checkAllSubmitBtn.on('submit', function (event) {
       var isSubmitable = !$(this).hasClass('disabled') ;
    if(!isSubmitable){
      event.preventDefault()
    }
     })
    // checkbox-all change
     checkboxAll.change( function () {
     var isCheckedAll = $(this).prop('checked')
        courseItemCheckbox.prop('checked', isCheckedAll)
        renderCheckedAll();
     })

    // item checkbox change
    courseItemCheckbox.change( function () {
      var CheckedAll = courseItemCheckbox.length === $('input[name="courseIDs[]"]:checked').length
      checkboxAll.prop('checked', CheckedAll)
      renderCheckedAll();
    })

    function renderCheckedAll(){
      var CheckedCount = $('input[name="courseIDs[]"]:checked').length
      if(CheckedCount > 0 ) {
        checkAllSubmitBtn.removeClass('disabled')
      }
      else {
        checkAllSubmitBtn.addClass('disabled')
      }
    }
     })
</script>