<div class="mt-4">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">VideoID</th>
      <th scope="col" colspan="2">Cập nhật gần nhất</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.videoID}}</td>
      <td>{{this.updatedAt}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit"class="btn btn-dark">Sửa</a>
        <a href=""class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}">Xóa</a>
        
      </td>
    </tr>
 {{/each}}
  </tbody>
</table>

</div>




{{!-- delete confirm --}}
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button id="btnDeleteCourse" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa bỏ</button>
        <button type="button" class="btn btn-primary">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{!--  script --}}
<script>

document.addEventListener("DOMContentLoaded"), function(){
  var exampleModal = document.getElementById('#delete-course-modal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var recipient = button.getAttribute('data-bs-id')
  console.log(recipient)
})
}

</script>